@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,300&display=swap");
body {
  height: 100vh;
  margin: 0;
  font-family: "Poppins", arial;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  -webkit-text-decoration: non;
          text-decoration: non;
}

img {
  width: 100%;
}

.nav-container {
  background: #6eda66;
}
.nav-container a {
  color: #FF9232;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1.5em;
  color: #ff7700;
  font-weight: bold;
}
header .logo {
  color: #F94710;
  font-weight: bold;
  text-decoration: none;
}
header ul {
  display: flex;
}
header ul a {
  display: block;
  padding: 0 3em;
}

.social-header {
  display: none;
}

.me {
  display: none;
}

.hero {
  background: #CDF2CA;
  color: #0000FF;
  display: grid;
  text-align: center;
  padding: 4em;
  margin-bottom: -1em;
}

.meet {
  display: flex;
  margin: 0 auto;
  width: 200px;
  font-weight: bold;
  color: #0000FF;
}
.meet span {
  margin-top: 1em;
  margin-right: 0.5em;
}

section {
  padding: 4em 2em;
  text-align: center;
}

.experience {
  position: relative;
  background: #F9F3DF;
  z-index: -2;
}

.experience::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #E5D5FA;
  top: 0;
  left: 0;
  z-index: -1;
}

.experience2 {
  position: relative;
  background: #CDF2CA;
  z-index: -2;
}

.experience2::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #E5D5FA;
  top: 0;
  left: 0;
  z-index: -1;
}

.title {
  color: #0000FF;
  font-weight: bold;
  font-size: 1.25em;
}

.section-title {
  color: #8100E2;
  font-weight: bold;
  font-size: 2.3em;
  position: relative;
  text-align: center;
  margin-top: 0em;
  margin-bottom: 0em;
}

.section-title::before {
  content: "";
  position: absolute;
  width: 300px;
  height: 2.5em;
  border-radius: 35%;
  background: #FFDEFA;
  top: -0.5em;
  left: calc(50% - 150px);
  z-index: -1;
}

.experience-subhead {
  font-weight: bold;
  color: #8100E2;
  font-size: 1.15em;
}

.education-desc {
  color: black;
  margin-bottom: 3em;
  font-size: 0.95em;
  line-height: 1.8em;
  font-weight: 500;
}

.cards {
  background: #E0A9BB;
  margin-bottom: -1em;
}

.cards-container ul li {
  background: white;
  padding: 1em;
  border-radius: 1em;
  margin-bottom: 1em;
}
.cards-container ul li .icon-container {
  height: 100px;
  display: grid;
  place-content: center;
  margin: 0 auto;
}
.cards-container ul li .icon-container.one {
  width: 120px;
}
.cards-container ul li .icon-container.two {
  width: 60px;
}
.cards-container ul li .icon-container.three {
  width: 160px;
}
.cards-container ul li .cards-title {
  font-weight: bold;
}
.cards-container ul li .cards-desc {
  margin-bottom: 2em;
}

.portfolio {
  background: white;
}

.portfolio-container a img {
  border-radius: 1em;
  margin-bottom: 2em;
}

@media only screen and (min-width: 800px) {
  .portfolio-left {
    text-align: left;
  }
  .portfolio-container {
    display: grid;
    grid-template-columns: 40% auto;
  }
  .portfolio-left {
    display: grid;
    place-content: center;
  }
  .portfolio-right {
    margin-left: 2em;
    margin-top: 1em;
  }
  .cards {
    margin-top: -7.5em;
    padding-top: 5em;
  }
  .cards-container ul {
    display: grid;
    margin-bottom: -8em;
    grid-template-columns: repeat(4, auto);
    grid-gap: 1em;
  }
  .section-title {
    z-index: 1;
  }
  .spacer {
    margin: -3em;
  }
  .portfolio-container img {
    margin-left: 2em;
  }
}
@media only screen and (min-width: 1050px) {
  .hero {
    height: 70vh;
  }
  .nav-container {
    display: grid;
    grid-template-columns: 45% auto;
    padding-top: 1em;
  }
  header {
    padding: 2em 2em 2em 4em;
  }
  .social-header {
    padding: 2em 4em 2em 0;
  }
  section {
    padding: 4em;
  }
  .social-header {
    display: block;
  }
  .social-header ul {
    display: flex;
    justify-content: space-between;
    width: 7em;
    float: right;
  }
  .social-header ul .social1 {
    width: 51px;
  }
  .social-header ul .social2 {
    width: 55px;
  }
  .social-header ul .social3 {
    width: 54px;
  }
  .hero {
    display: grid;
    grid-template-columns: 33% auto;
    padding: 0;
  }
  .hero .content {
    padding: 6em 8em 6em 4em;
  }
  .hero .content h1 {
    font-size: 3em;
    line-height: 1.2em;
  }
  .hero .meet {
    font-size: 1.5em;
  }
  .hero .me {
    display: grid;
    grid-template-columns: 75% auto;
    display: unset;
    margin-left: 50%;
    margin-top: 7%;
    width: 30%;
  }
}/*# sourceMappingURL=main.css.map */